In [41]:
import pandas as pd
import numpy as np

In [43]:
# open file and store in dataframe
df = pd.read_csv('../match-data/nwsl-events/2025-04-22_Portland_Thorns__vs__Gotham_FC.csv')
df.head()

,id,eventId,typeId,periodId,timeMin,timeSec,contestantId,outcome,x,y,timeStamp,lastModified,qualifier,playerId,playerName,assist,keyPass,Squad,Position
0,2805067255,1,34,16,0,0,446mp88j1vpk9iwui9fiifrp8,1,0.0,0.0,2025-04-23T01:55:10.322Z,2025-04-23T02:52:26Z,"[{'id': 5673692197, 'qualifierId': 130, 'value...",NaN,NaN,NaN,NaN,Portland Thorns,Home
1,2805068843,1,34,16,0,0,bgkfdckqfqnfbmecbtz03n76d,1,0.0,0.0,2025-04-23T02:02:45.183Z,2025-04-23T02:52:51Z,"[{'id': 5673700965, 'qualifierId': 197, 'value...",NaN,NaN,NaN,NaN,Gotham FC,Away
2,2805076039,2,32,1,0,0,446mp88j1vpk9iwui9fiifrp8,1,0.0,0.0,2025-04-23T02:37:34.867Z,2025-04-23T02:37:37Z,"[{'id': 5673740633, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Portland Thorns,Home
3,2805076037,2,32,1,0,0,bgkfdckqfqnfbmecbtz03n76d,1,0.0,0.0,2025-04-23T02:37:34.867Z,2025-04-23T02:37:47Z,"[{'id': 5673740619, 'qualifierId': 127, 'value...",NaN,NaN,NaN,NaN,Gotham FC,Away
4,2805076049,3,1,1,0,0,446mp88j1vpk9iwui9fiifrp8,1,50.0,50.0,2025-04-23T02:37:34.868Z,2025-04-23T02:46:48Z,"[{'id': 5673740701, 'qualifierId': 279, 'value...",cmolam8ri93kos2rasjhnuxyi,S. Coffey,NaN,NaN,Portland Thorns,Home

In [46]:
# get defensive actions, we need - tackles, clearances, interceptions, aerial, recoveries
df[df.typeId == 7] # tackle
df[df.typeId == 12] # clearance
df[df.typeId == 8] # interception
df[df.typeId == 44] # aerial
df[df.typeId == 49] # recovery

# drop unneccessary columns
df.drop(columns=['timeStamp', 'contestantId', 'lastModified', 'assist', 'keyPass', 'playerId'])

defensive_ids = [7, 12, 8, 44, 49]
defensive_df = df[df['typeId'].isin(defensive_ids)]

In [48]:
defensive_df.drop(columns=['timeStamp', 'contestantId', 'lastModified', 'assist', 'keyPass', 'playerId'], inplace=True)
defensive_df.head()

C:\Users\fredd\AppData\Local\Temp\ipykernel_20212\3407856346.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  defensive_df.drop(columns=['timeStamp', 'contestantId', 'lastModified', 'assist', 'keyPass', 'playerId'], inplace=True)

,id,eventId,typeId,periodId,timeMin,timeSec,outcome,x,y,qualifier,playerName,Squad,Position
15,2805076079,3,12,1,0,29,1,9.8,24.0,"[{'id': 5673740925, 'qualifierId': 212, 'value...",J. Carter,Gotham FC,Away
44,2805076217,29,49,1,2,1,1,54.9,62.7,[],C. Hanks,Portland Thorns,Home
47,2805076229,12,49,1,2,3,1,30.6,27.7,[],N. Martin,Gotham FC,Away
53,2805076281,31,7,1,2,24,1,49.2,22.4,"[{'id': 5673742239, 'qualifierId': 56, 'value'...",J. Fleming,Portland Thorns,Home
71,2805077671,212,7,1,3,15,1,47.2,27.8,"[{'id': 5673750811, 'qualifierId': 285}, {'id'...",T. Torres,Gotham FC,Away